<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Student Register</title>
        <style>
            .blog-post-title {
                margin-bottom: 5px;
                font-size: 40px;
            }
        </style>
<script>
function sayimage()
{alert('Adding Image To Profile...');}
</script>
    </head>
    <body>
    {% extends "zenith/base.html" %}

{% block header %}

    <div class=''>
        <div class="container">
        <br><br><br><br><br><h2 class="blog-post-title">Add Profile</h2>
        </div>
    </div>

{% endblock header %}

{% block content %}
<div style="font-size: 19px;">

    <form method = "post" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <br><button class="btn btn-lg btn-default" onclick="sayimage()">Upload &raquo;</button>
    </form>
</div>
<br><br><br><br><br><br><br><br>
</html>
{%endblock%}
